export ULLAAQ_ROOT="/path/to/Ullaaq-Air-Nunavik"
export GIS_ROOT="/path/to/GIS"
export ORTHO4XP_ROOT="/path/to/Ortho4XP"
export XPLANE_ROOT="/path/to/X-Plane 12"

export ULLAAQ_TILE="+58-069"

export ULLAAQ_LANDCOVER_GPKG="$ULLAAQ_ROOT/work/$ULLAAQ_TILE/landcover/${ULLAAQ_TILE}_landcover_10ha.gpkg"
export ULLAAQ_DEBUG_GPKG="$ULLAAQ_ROOT/work/$ULLAAQ_TILE/debug/ullaaq_${ULLAAQ_TILE}_debug.gpkg"
